section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.container {
  margin-top: 50px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background: rgb(36, 36, 226);
  color: white;
  border-radius: 5px;
}

.watch {
  font-size: 3em;
  margin-bottom: 10px;
}
.date {
  letter-spacing: 6px;
  font-size: 0.8em;
}
.animar {
  box-shadow: 0 0 0 2px rgba(36, 36, 226, 0.5);
}
